[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/luisrayas3
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/luisrayas3
	label-Verified = -1..+1 group user/luisrayas3
	push = group user/luisrayas3
	read = group user/luisrayas3
	rebase = group user/luisrayas3
	removeReviewer = group user/luisrayas3
	submit = group user/luisrayas3
[access "refs/heads/*"]
	create = group user/luisrayas3
	push = +force group user/luisrayas3
	pushMerge = group user/luisrayas3
	read = group user/luisrayas3
[access "refs/tags/*"]
	push = group user/luisrayas3
	push = +force group user/luisrayas3
